@import 'variables2';
.show-main {
    h2 {
        font-family: $font1;
        font-size: 24px;
        margin-top: 20px;
        padding: 20px 0;
        color: #2D333F;
    }
    .review {
        padding: 10px 0px;
        display: flex;
        .review-left {
            padding: 0 24px;
            height: 90px;
            display: inline-block;
            text-align: center;
            .user-fname {
                margin-top: 20px;
                color: #2D333F;
                font-size: 14px;
                // font-family: $font1 !important;
            }
            .user-icon {
                display: flex;
                justify-content: center;
                align-items: center; 
                width: 3rem;
                height: 3rem;
                // background: #d86441;
                color: white;
                border-radius: 50%;
            }
        }
        .review-right {
            p {
                width: 150px;
            }
            .review-body {
                width: 400px;
                font-size: 18px;
                font-family: $font2;
                line-height: $review-spacing;

            }
        }
     
    }

}