@import 'variables2'; 
.scroll-cont {
    width: 85%;
    margin: 0 auto;
      font-family: $font1;
    .scroll-title {
        font-size: 24px;
        color: $scroll-title;
        margin: 30px 0;
    }
    .scroll-list {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        padding-top: .5rem;
        padding-bottom: 2rem;
    }
    .scroll-li {
        cursor: pointer;
        position: relative;
        margin: 0 0.5rem;
        width: 236px;
        border: $scroll-item-border;
        border-radius: 4px;
        display: inline-block;
        margin-top: 20px;
        .scroll-img {
            height: 132px;
            object-fit: cover;
            background-position: center;
            width: 100%;
        }
        .scroll-details-cont {
            // padding: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            color: $scroll-item-color;
            padding-left: 5px;
            .scroll-name {
                font-size: 20px;
                text-decoration: none;
                margin: 0px 0px 4px; 
            }
            .scroll-review {
                display: flex;
                align-items: center;
                ul {
                    padding: 15px 0px;
                    margin-bottom: 7px;
                    margin-right: 5px;
                }
                i {
                    color: #da3743;  
                    padding: 1px;
                }
            }
            p {
                font-size: 12px;
                // color: rgb(45, 51, 63);
                padding: 10px 0px;      
            } 
        }
    }

}
.scroll-li:hover {
    top: -10px;
    box-shadow: 3px 3px 1px 1px lightgrey;
}


.area-list {
    padding: 15px;
    margin: 0px auto;
    li {
        cursor: pointer;
        display: inline-block;
        height: 150px;
        width: 33.33333%;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        p {
            font-size: 20px;
            font-family: $font1;
            background: $location-list-overlay;
            width: 100%;
            text-align: center;
            color: white;
            position: relative;
            line-height: 150px;
        }
        option {
            font-size: 20px;
            font-family: $font1;
            width: 100%;
            text-align: center;
            color: white;
            position: relative;
            line-height: 150px;
        }
        
    }

}



