@import 'variables';
.dropdown-hidden {
    display: none;

}

.dropdown-visible li{
    display: block;

}

.li-cont {
    position: absolute;
    margin-top: 15px;

    z-index: 100;
    overflow: visible;
    width: 232px;
    right: 10px;
    height: 168px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    
}

#dropdown li {
    background-color: white;
    padding: 12.8px 16px;
    font-size: 16px;
      font-family: $font1;
    color: #484848;
    .go-to-profile {
        text-decoration: none;

    }
    button {
        cursor: pointer;
        font-size: 16px;
        color: #484848;
    }


}
