@import 'variables';
// @import 'variables2';
html {
    background-color: #f7f7f7;
}
#root {
    max-width: 1600px;
    margin: 0 auto;
    height: 100%
}
.all-content {
    max-width: 1600px;
    height: 100%;

    background-color: white;
    z-index: -5;
}

.main-header {
    max-width: 1600px;

}
.footer-cont {
    position: absolute;

    width: 100%;
    max-width: 1600px;
    height: 100px;
    background-color: white;
}

.footer {
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #333333;
    justify-content: space-around;
    font-size: 16px;
      font-family: $font1;
    li {
        padding-top: 30px;
        color: white; 
        background-color: #333333;
        list-style: none;
        a {
            text-decoration: none;
        }
    }

}



.home-search-container {
    width: 100%;
    height: 416px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: $background-overlay;
    img {
        position: absolute;
        width: 100%;
        top: -250px;
        object-fit: fill;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }
    img.transparent {
        opacity:0;
    }
    .splash-img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: $background-overlay;
        background-position: 100%;
        background-size: cover;
    }
// linear-gradient(rgba(47, 45, 65, 0.7), rgba(47, 45, 65, 0.7))
    .find-res-search {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 663px;
        .res-detail-container {
            display: flex;
            .res-detail {
                display: flex;
                background-color: white;
                align-items: center;
                flex-basis: 33.3%;
                color: $search-icon-color;
                font-size: 16px;
                font-family: $font1;
                font-stretch: 100%;

                margin-bottom: 15px;
                i {
                    padding-left: 16px;
                    
                }
                input {
                    padding: 16px;
                    height: 19px !important;
                    width: 100%;
                    color: black;
                }
                input::placeholder {
                    color: $search-icon-color;
                }
            }
            .res-detail:first-of-type {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .res-detail:last-of-type {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        h1 {
            display: block;
            color: white;
            font-family: $font1;        
            font-size: $font-size-homepage;
            font-weight: 600;
            font-stretch: 100%;
            width: 100%;
            padding-bottom: 35px;
         }
         .search-bar {
            display: flex;
            align-items: center;
            background-color: white;
            color: $search-icon-color;
            font-size: 16px;
            font-family: $font1;
            margin-bottom: 15px;
            border-radius: 4px;
            input {
                width: 100%;
                padding: 16px;
                height: 19px !important;
            }
            input::placeholder {
                color: $search-icon-color;
            }
            i {
                padding-left: 16px;
            }
         }
        .res-search-submit {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;  
            font-stretch: 100%;
            text-size-adjust: 100%;
            font-weight: 500;
            border-radius: 4px;
            font-size: 16px;
              font-family: $font1;
            color: white;
            background-color: #DA3743;
            border-color: #b8222d;
            width: 663px;
            height: 48px;
  
        }
        .res-search-submit:hover {
            background-color: #b8222d;
        }
    }


}
  @keyframes home-search-containerFadeInOut {
    0% {
        opacity:1;
    }
    22% {
        opacity:1;
    }
    33% {
        opacity:0;
    }
    89% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
    }


.home-search-container img:nth-of-type(1) {
    animation-delay: 6s;
}
.home-search-container img:nth-of-type(2) {
    animation-delay: 3s;
}
.home-search-container img:nth-of-type(3) {
    animation-delay: 0s;
}


.home-search-container img {
    animation-name: home-search-containerFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-fill-mode: forwards;
}
// animation was done using demos from this site: http://css3.bradshawenterprises.com/cfimg/#cfimg1
