@import 'variables';
// @import 'variables2';
.profile-cont {
    position: relative;
    height: 100%;
    min-height: 800px;
    background-color: #f7f7f7;
    font-family: $font2;
    padding-bottom: 30px;
    .name-cont {
        height: 90px;
        width: 100%;
        background-color: white;
        margin-bottom: 10px;

        .full-name {
            width: 913px;
            margin: 0 auto;
            padding: 15px 30px;;
            font-size: 50px;
            color: $profile-color;

        }
        
    }
    .res-item-cont {
        border-radius: 4px;
        width: 913px;
        margin: 0 auto;
        background-color: white;
        margin-bottom: 20px;

        .section-titles {
            width: 913px;
            margin: 0 auto;
            padding: 20px;
            font-size: 30px;
            color: $profile-color;
        }
        .res-item {
            color: $profile-color;
            display: flex;
            padding: 15px 30px;
            img {
                cursor: pointer;
                height: $profile-img-height;
                width: $profile-img-width;
                object-fit: cover;
                background-position: center;
                border-radius: 5px;
    
            }
            .res-ind-details-cont {
                padding-left: 10px;
                font-size: $res-ind-details-font-size;
                p {
                    padding: 3px 0px;
                    line-height: $res-ind-line-height;
                }
                .res-buttons {

                    cursor: pointer;
                    color: #237B98;
                    padding-top: 3px;
                    text-decoration: none;
                    padding-right: 10px;
                }
                .leave-review {
                    color: red;
                    i {
                        font-size: 12px;
                    }
                    .review-link {
                        text-decoration: none;
                        font-family: "Darker Grotesque", sans-serif;
                        padding-left: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.res-ind-name { 
    font-size: $res-ind-font-size;
    cursor: pointer;
    text-decoration: none !important;
}