@import 'variables';
// @import 'variables2';
.show-cont {
    display: block;
    height: 100%;

}

.show-body {
    height: 100%;
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -48px;
    background-color: transparent;
    margin-bottom: 30px;
    aside {
        width: 320px;
        display: block;
        margin-left: 16px;
        background-color: transparent;
        border-radius: 3px;
        z-index: 2;
        .map-cont {
            width: 100%;
            border: 1px solid lightgray;
            height: 330px;
            margin: 50px 0px;
            border-radius: 4px;
        }
        .map {
            border-radius: 4px;
              font-family: $font1;
            // z-index: 0;
            width: 300x;
            padding: 30px;
            // border: 1px solid black;
            height: 230px;
            // padding: 50px 0px;
            margin: 4px 4px 8px;
        }
        .map-address {
            margin: 10px;
              font-family: $font1;
            font-size: 15px;
            color: red;
            i {
                margin-right: 5px;
                color: lightgray;
            }
        }
    
    }

    main {
        z-index: 3;
        font-size: 15px;
        font-family: $font1;
        width: 640px;
        display: block;
        margin-right: 16px;
        background-color: white;
        border-radius: 3px;
    
        ul {
            display: flex;
            font-size: 12px;
            justify-content: space-between;
            i {
                padding-right: 5px;
                font-size: 12px;
            }
        }
    }
}

.rest-background {
    height: 459px;
    object-fit: cover;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    z-index: 1 !important;
    width: 100%;

}

.res-form-cont {
    position: sticky;
    background-color: white;
    z-index: 100;
    border-radius: 4px;
    top: 0px;
    width: 320px;
    height: 330px;
    box-shadow: 0 2px 8px rgba(153,153,153,.4);
}


.make-res {
    width: 288px;
    margin: 0px auto;
    height: 300px;
    
    h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 21px;
        font-family: $font1;
        height: 48px;
        text-align: center;
    }
    hr {
        margin-top: 0px;
        margin-bottom: 8px;

    }
    .res-cont {
        font-size: 16px;
        font-family: $font1;
        display: block;
        width: 288px;
        height: 130px;
        p {
            display: block;
            padding-top: 8px;
            width: 50%;

        }
        .res-party-cont {
            border-bottom: 1px solid lightgrey;
            input {
                cursor: pointer;
                width: 100%;
                padding: 10px 0px;
                font-family: $font2;
            }
            input::placeholder {
                color: $res-form-placeholder-color;
            }
        }
        .res-party-cont:hover {
            border-bottom: 2px solid #DA3743;
        }
    }
    .new-res-detail {
        cursor: pointer;
        display: block;
        height: 57px;
        width: 288px;
        border-bottom: 3px solid lightgrey !important;
        select {
            -webkit-appearance: none;
        }
        .res-date {
            font-family: $font2;
            font-size: 16px;
            background-color: white;
            border-top: none;
            border-left: none;
            border-right: none;
            color: $res-form-placeholder-color;
            outline: none;
            cursor: pointer;
            // margin: 0px auto;
            width: 100%;
            height: 35px !important;
            display: block;
            text-align: left;
            // background-color: white;
        }
        // margin: 0px auto;
    }
    .res-date:hover {
        border-bottom: 2px solid #DA3743;
    }
    .new-res-detail-container {
        display: flex;
        align-items: space-around;
        
        // margin: 0px auto;
    }
    .res-search-submit {
        // margin: 0px auto;
        display: block;
            
            .button-vis {
                cursor: pointer;
                margin: 30px 0px;
                padding: 17px;
                font-stretch: 100%;
                text-size-adjust: 100%;
                font-weight: 500;
                border-radius: 4px;
                font-size: 16px;
                font-family: $font1;
                color: white;
                background-color: #DA3743;
                border: none;
                width: 288px;
                height: 100%;
                
            }
            .button-hid {
                display: none;
            }
    }
    .hidden {
        display: none;
    
    }
    .visible {
        p {
              font-family: $font1;
            padding-bottom: 3px;
            padding-left: 5px;
        }
        .hidden-cont {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

        }
        input {
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            color: white !important;
            font-family: 'Darker Grotesque',sans-serif;
            font-weight: 600;
            font-size: 16px;
            padding:4px 2px;;
            width: 80px;
            background-color: #DA3743;
            border:  none;
            margin: 5px;
        }
        input::placeholder {
            color: white !important;
        }
        
    }
    .confirm-hid {
        display: none
    }
    .confirm-vis {
        display: block;
        color: black;
        text-align: center;
        font-family: 'Karla',sans-serif;
        margin-top: 30px;
        font-size: 14px;
    }
    .past-res-hidden {
        display: none;
    }
    .past-res-vis {
        display: block;
        color: black;
        text-align: center;
        font-family: 'Karla',sans-serif;
        margin-top: 30px;
        font-size: 14px;
    }
}

button.past-res-vis {
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    color: white !important;
    font-family: 'Darker Grotesque',sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding:4px 2px;;
    width: 80px;
    background-color: #DA3743;
    border:  none;
    margin: 0 auto;
}

.rest-details {
    width: 608px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 32px !important;
    margin: 0px auto;
    font-family: $font1;
    color: $rest-details-color;
    h1 {
        display: block;
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 700px;
    }
    .rest-description {
        line-height: $review-spacing;
        margin-bottom: 30px;
        text-align: justify;
    }
    a {
        cursor: pointer;
    }
}





