$font1: "Karla", sans-serif;
$font2: "Darker Grotesque", sans-serif;

//homepage
$font-size-homepage: 45px;
$background-overlay: rgba(47,45,65,.7);
$location-list-overlay: rgba(0,0,0,.5);
$search-icon-color: grey;
$scroll-item-border: 1px solid #d8d9db;
$scroll-item-color: #2D333F;
$auth-placeholder-color: grey;
$dropdown-color: #484848;
$scroll-title: #2D333F;

//index
$index-search-color: rgb(69, 71, 75);
$checkbox-color: rgb(102, 102, 102);
$index-list-item-color: rgb(45, 51, 63);

//show
$review-spacing: initial;
$rest-details-color: #2D333F;
$res-form-placeholder-color: grey;

//profile
$profile-img-height: 80px;
$profile-img-width: 80px;
$profile-color: #333333;
$res-ind-font-size: 18px;
$res-ind-details-font-size: 16px;
$res-ind-line-height: initial;


