.home-search-container {
    width: 100%;
    height: 416px;
    display: flex;


    position: relative;
    text-align: center;
    opacity: 1;
    align-items: center;
    justify-content: center;
    .splash-img {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://resizer.otstatic.com/v2/photos/wide-huge/25160669.jpg);
        background-position: 100%;
        background-size: cover;
    }
    .splash-img::after {
        
    }
    p{
        color: white;
        font-family: BrandonText, "Helvetica Neue",;
        font-size: 48px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }


}