html {
    background-color: #f7f7f7;
}
.all-content {
    max-width: 1600px;
    height: 100%;

    background-color: white;
    z-index: -5;
}

.main-header {
    max-width: 1600px;

}
.footer-cont {

    padding-top: 300px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}

.footer {
    display: flex;
    height: 100px;
    background-color: #333333;
    justify-content: space-around;
    font-size: 16px;
    font-family: 'Doppio One', sans-serif;
    li {
        padding-top: 30px;
        color: white; 
        background-color: #333333;
        list-style: none;
        a {
            text-decoration: none;
        }
    }

}



.home-search-container {
    width: 100%;
    height: 416px;
    display: block;
    position: relative;
    .splash-img {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://resizer.otstatic.com/v2/photos/wide-huge/25160669.jpg);
        background-position: 100%;
        background-size: cover;
    }

    .find-res-search {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 663px;
        .res-detail-container {
            display: flex;
            .res-detail {
                background-color: white;
                flex-basis: 33.3%;
                color: grey;
                font-size: 16px;
                font-family: 'Doppio One', sans-serif;
                font-stretch: 100%;

                margin-bottom: 15px;
                padding: 16px;
                input {
                    height: 100%;
                    width: 100%;
                }
            }
            .res-detail:first-of-type {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .res-detail:last-of-type {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        h1 {
        display: block;
        color: white;
        font-family: 'Doppio One', sans-serif;
        font-size: 44px;;
        font-weight: 550;
        width: 100%;
        padding-bottom: 35px;
         }
         .search-bar {
                background-color: white;
                color: grey;
                font-size: 16px;
                font-family: 'Doppio One', sans-serif;
                font-stretch: 100%;
                margin-bottom: 15px;
                padding: 16px;
                border-radius: 4px;
            input {
                width: 100%;
                height: 100%;

            }
         }
         .res-search-submit {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;  
            font-stretch: 100%;
            text-size-adjust: 100%;
            font-weight: 500;
            border-radius: 4px;
            font-size: 16px;
            font-family: 'Doppio One', sans-serif;
            color: white;
            background-color: #DA3743;
            width: 663px;
                height: 48px;
  
         }
    }


}