.index-cont {
    .index-search {
        height: 80px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-family: 'Karla', sans-serif;
        color: rgb(45, 51, 63);
        li:first-of-type {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        li {
            height: 46px !important;
            background-color: white;
            width: 150px;
            border-left: 1px solid lightgrey;
            display: flex;
            align-items: center;
            i {
                color: rgb(69, 71, 75);
                padding-left: 10px;
            }
            input {
                padding-left: 10px;
            }      
        }
        .res-search-submit {
            cursor: pointer;
            text-decoration: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: #DA3743;
            color: white;
            font-size: 16px;
            width: 156px;
            display: flex;
            justify-content: center;
        }
        .index-search-bar {
            width: 301px;
            input {
                width: 250px;
            }
        }
    }
    .index-search-background {
        height: 80px;
        position: absolute;
        width: 100%;
        max-width: 1600px;
    }
    .index-content {
        height: 1000px;
        display: flex;
        justify-content: center;
        .aside-checkbox {
            padding: 20px 10px;
            font-family: 'Karla', sans-serif;
            li {
                padding: 3px 0px;
                color: rgb(102, 102, 102);
            }
            .checkbox-title {
                font-size: 20px;
                padding-bottom: 5px;
                color: rgb(102, 102, 102);
            }
            i {
                color: rgb(102, 102, 102);
            }
            .more {
                color: red;
                padding-top: 5px;
            }
        }
    }
    .aside-vis {
        width: 224px;
        height: 1000px;
    }
    .aside-hid {
        display: none;
    }
    .index-list {
        width: 520px;
        height: 100%;
        margin-left: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

.index-img {
    width: 206px;
    height: 206px;
    object-fit: cover;
    background-position: center;
    border-radius: 4px;
}
.index-li {
    display: flex;
    margin: 20px 0;
    .ind-details-cont {
        padding: 15px;
        .ind-name {
            font-size: 20px;
            text-decoration: none;
            font-family: 'Karla', sans-serif;
            color: #247F9E;
        }
        p {
            font-size: 16px;
            font-family: 'Karla', sans-serif;
            color: rgb(45, 51, 63);
            padding: 10px 0px;
        }
        a {
            font-size: 16px;
            font-family: 'Karla', sans-serif;
            color: rgb(45, 51, 63);
            cursor: pointer;
        }
    }
}
.avg-review {
    display: flex;
    align-items: center;
    ul {
        padding: 15px 0px;
        margin-bottom: 7px;
        margin-right: 5px;
    }
    i {
        color: #fdaf08;  
        padding: 1px;
    }
    p {
        font-family: 'Karla', sans-serif;
        color: rgb(45, 51, 63);
    }
}

.map-visible {
    width: 1000px;
    height: 99%;
    margin: 5px;
}

.map-hidden {
    display: none;
}

.map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Karla", sans-serif;
    width: 192px;
    height: 64px;
    border: 1px solid #247F9E;
    border-radius: 3px;
    margin: 16px;
    background-size: 100% 100%;
    background-image: url('https://media.otstatic.com/search-result-node/images/mapImage@2x.e764d473.png');
    button {
        cursor: pointer;
        border-radius: 3px;
        background-color: #247F9E;
        color: white;
        width: 80px;
        height: 32px;
    }
}

.button-hid {
    display: none;
}

.button-vis {
    cursor: pointer;
    height: 45px;
    width: 85px;
    border-radius: 3px;
    border: 1px solid #247F9E;
    font-family: "Karla", sans-serif;
    color: #247F9E;
    background-color: #eef8fb;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 10px;
}

.index-cont-map {
    height: 90%;
    // position: relative;
}

.search-message {
    padding-top: 20px;
    padding-left: 10px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    color: #2D333F;

}

