

.login-button {
    padding: 0 0.8rem 0 0.2rem;
    color: black;
    font-size: 16px;
    font-weight: 500;
    
}

.signup-button {
    border-radius: 3px;           
    padding: 0.6rem 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1c627a;
}



.nav-bar {
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    padding: 10px;
    position: relative;
}

.nav-links {
    display: flex;
    align-items: center;
    overflow: visible;
    position: relative;
    h3 {  
        padding-right: 10px;
    }
    
}
.full-logo {
    display: flex;
    max-width: 30px;
 

}

.logo {
    width: 100%;
    height: auto;  
}
.app-name {
    font-size: 18pt;
    font-weight: 550;
    padding-left: 10px;
    display: flex;
    align-items: center;

    
}




