

.login-button {
    padding: 0 0.8rem 0 0.2rem;
    color: black;
    font-size: 16px;
    font-weight: 500;
    
}

.signup-button {
    border-radius: 3px;           
    padding: 0.6rem 1rem;
    font-family: 'Doppio One', sans-serif;
    font-size: 14px;
    color: white;
    background-color: #1c627a;
}



.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Doppio One', sans-serif;
    align-items: center;
    padding: 5px;
    position: relative;
}

.nav-links {
    margin-right: 5px;
    display: flex;
    align-items: center;
    overflow: visible;
    position: relative;
    h3 {  
        padding-right: 10px;
    }
    i {
        padding: 5px;
        
        cursor: pointer;
    }
    
}
.full-logo {
    display: flex;
    max-width: 50px;
    max-height: 50px;
    text-decoration: none;
    color: black;
    font-weight: 750;
    font-size: 18pt;
 

}

.logo {
    width: 100%;
    height: auto;  
}
.app-name {
    display: flex;
    align-items: center;    
}






