.show-cont {
    display: block;
    height: 100%;

}

.show-body {
    height: 100%;
    display: flex;
    // z-index: 5 !important;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -48px;
    background-color: transparent;
    margin-bottom: 30px;



    aside {
        width: 320px;
        display: block;
        margin-left: 16px;
        background-color: transparent;
        border-radius: 3px;
        z-index: 2;
        .map-cont {
            width: 100%;
            border: 1px solid lightgray;
            height: 330px;
            margin: 50px 0px;
            border-radius: 4px;
        }
        .map {
            border-radius: 4px;
            font-family: 'Raleway', sans-serif;
            // z-index: 0;
            width: 300x;
            padding: 30px;
            // border: 1px solid black;
            height: 230px;
            // padding: 50px 0px;
            margin: 4px 4px 8px;
        }
        .map-address {
            margin: 10px;
            font-family: 'Raleway', sans-serif;
            font-size: 15px;
            color: red;
            i {
                margin-right: 5px;
                color: lightgray;
            }
        }
    
    }

    main {
        z-index: 3;
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        width: 640px;
        display: block;
        margin-right: 16px;
        background-color: white;
        border-radius: 3px;
    
        ul {
            // font-size: 14px;
            // list-style: disc;
            display: flex;
            justify-content: space-between;
            li:first-of-type {
                list-style: none;
            }
        }
    }
}

.rest-background {
    height: 459px;
    object-fit: cover;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    z-index: 1 !important;
    width: 100%;

}

.res-form-cont {
    position: sticky;
    background-color: white;
    z-index: 100;
    border-radius: 4px;
    top: 0px;
    width: 320px;
    height: 300px;
    box-shadow: 0 2px 8px rgba(153,153,153,.4);
}


.make-res {
    width: 288px;
    margin: 0px auto;
    height: 300px;
    
    h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 21px;
        font-family: 'Raleway', sans-serif;
        height: 48px;
        text-align: center;
        // margin: 0px auto;
    }
    hr {
        margin-top: 0px;
        margin-bottom: 8px;

    }
    .res-cont {
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
        display: block;
        width: 288px;
        height: 130px;
        padding: 8px 0px 0px;
        p {
            display: block;
            padding-top: 8px;
            width: 50%;

        }
        .res-party-cont {
            border-bottom: 1px solid lightgrey;
        }
        .res-party {
            padding: 2px 7px;
        }
        select {
            border-radius: 0px !important;
            margin: 0px auto;
            height: 35px;
            width: 100%;
            display: block;
            background-color: white;
        }
    }
    .new-res-detail {
        display: block;
        padding: 7px;
        height: 57px;
        width: 50%;
        // flex-grow: 1;
        // flex-shrink: 1;
        .res-date {

            margin: 0px auto;
            height: 35px !important;
            display: block;
            background-color: white;
        }
        // margin: 0px auto;
    }
    .new-res-detail-container {
        display: flex;
        align-items: space-around;
        border-bottom: 1px solid lightgrey;
        // margin: 0px auto;
    }
    .res-search-submit {
        // margin: 0px auto;
        display: block;
            
            input {
                margin: 15px 0px;
                padding: 17px;
                font-stretch: 100%;
                text-size-adjust: 100%;
                font-weight: 500;
                border-radius: 4px;
                font-size: 16px;
                font-family: 'Raleway', sans-serif;
                color: white;
                background-color: #DA3743;
                width: 288px;
                height: 100%;
            }
    }
}

.rest-details {
    width: 608px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 32px !important;
    margin: 0px auto;
    font-family: 'Raleway', sans-serif;
    h1 {
        display: block;
        font-size: 50px;
        font-weight: 700px;
        color: #2D333F;
    }
    .rest-description {
        line-height: 1.5;
        margin-bottom: 30px;
        text-align: justify;
    }
}



