.show-cont {
    display: block;
}

.show-body {
    display: flex;
    
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -48px;
    background-color: transparent;



    aside {
        width: 320px;
        height: 500px;
        display: block;
        margin-left: 16px;
        background-color: white;
        border-radius: 3px;
    
    }

    main {
        width: 640px;
        display: block;
        margin-right: 16px;
        background-color: white;
        border-radius: 3px;
    }
}

.rest-background {
    height: 459px;
    background: url('katz.jpeg');
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    z-index: -1 !important;
    
}

.res-form-cont {
    width: 320px;
    height: 300px;
     box-shadow: 0 2px 8px rgba(153,153,153,.4);
}


.make-res {
    width: 288px;
    margin: 0px auto;
    height: 300px;
    
    h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 21px;
        font-family: 'Josefin Sans', sans-serif;
        height: 48px;
        text-align: center;
        // margin: 0px auto;
    }
    hr {
        margin: 0px;
    }
    .new-res-detail {
        font-size: 14px;
        font-family:'Josefin Sans', sans-serif;
        display: block;
        height: 57px;
        flex-basis: 50%;
        flex-grow: 1;
        flex-shrink: 1;
        // margin: 0px auto;
    }
    .new-res-detail-container {
        display: flex;
        align-items: space-around;
        // margin: 0px auto;
    }
    .res-search-submit {
        // margin: 0px auto;
        display: block;
            
            input {
                margin-bottom: 15px;
                padding: 17px;
                font-stretch: 100%;
                text-size-adjust: 100%;
                font-weight: 500;
                border-radius: 4px;
                font-size: 16px;
                font-family: 'Josefin Sans', sans-serif;
                color: white;
                background-color: #DA3743;
                width: 288px;
                height: 100%;
            }
    }
}

.rest-details {
    width: 608px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 32px !important;
    margin: 0px auto;
    h1 {
        display: block;
        font-size: 50px;
        font-weight: 700px;
        color: #2D333F;
        font-family: 'Josefin Sans', sans-serif;
    
    }
}


