//https://codepen.io/filcp/pen/QvZVOg
//guided by above tutorial for star filling

.header_star{
  float: left;
  position: relative;
  color: lightgray !important;
}

.header_star:hover {
  text-decoration: none;
}
.header_star .star_hover .fa.fa-star {
  color: #FFC125;
}
.star_hover {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 0;
  transition: all 0.3s linear 0s;
}
.show-review {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
  
.header_stars {
  max-width: 90px;
  font-size: 16px;
  padding-right: 10px;
}
  
.home-header_star {
  float: left;
  // margin-left: 5px;
  position: relative;
  color: lightgray !important;
  .star_hover {
    i {
      color: red;
    }
   }
 }

  
  
  
  
  
  
  
  
  