$font1: "Comic Sans MS", "Comic Sans", cursive;
$font2: "Comic Sans MS", "Comic Sans", cursive;

//homepage
$font-size-homepage: 42px;
$background-overlay: rgba(47,45,65,0.95);
$location-list-overlay: rgba(0,0,0,.95);
$search-icon-color: black;
$scroll-item-border: 2px solid black;
$scroll-item-color: black;
$auth-placeholder-color: black;
$dropdown-color: black;
$scroll-title: black;

//index
$index-search-color: black;
$checkbox-color: black;
$index-list-item-color: black;

//show
$review-spacing: 150%;
$rest-details-color: black;
$res-form-placeholder-color: black;

//profile
$profile-img-height: 150px;
$profile-img-width: 150px;
$profile-color: black;
$res-ind-font-size: 30px;
$res-ind-details-font-size: 20px;
$res-ind-line-height: 150%;